.programWrapper {
  background-color: #09070a;
  font-family: topsecret;
}

.bodyProgram {
  border-top: 2px solid rgb(221, 39, 48);
  background-color: #131114;
  padding-top: 100px;
}

.progressWrapper {
  width: 70%;

  margin: 0 auto;
  display: flex;
  //   align-items: center;
}
